{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed"
}
